.landing-img{
    height: 500px;
    width: 100%;
    padding: auto;
}
.header-left{
    position: absolute;
    top: 1em;
    left: 1em;
    font-size: 40px;
    font-weight: 600;
}
.collapse-css-transition {
    overflow: hidden;
    transition: height 400ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .app {
    margin: 0 auto;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    padding: 3rem 1rem 1rem;
    
  }
  .app __text {
    width: 100%;
  }  